<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="shopViewHead" id="photo" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h3>Amazing Book Store</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sunt.</p>
    <a href="#" class="btn btn-lg btn-info">Register</a>
  </div>
</div>
<style>
  #photo{
    background: url("../../static/img/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
</body>
</html>